.report-page {
  display: flex;
  width: 20;
}

.report-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.first-row {
  margin-left: 70px;
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.card-row {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.cards {
  width: 570px;
  height: 390px;
  background-color: rgb(247, 243, 243);
  /* padding: 20px; */
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
